---
import Default from "../layouts/Default.astro";
const links = [
  {
    title: "Starfighter in Sicht-Carbon",
    url: "https://www.rc-network.de/threads/starfighter-in-sicht-carbon.11883880/",
  },
  {
    title: "F19Aurora in Full CFK 163gr Schiebefest",
    url: "https://www.rc-network.de/threads/f19aurora-in-full-cfk-163gr-schiebefest.757231/",
  },
];
---

<Default>
  <h1>Forum</h1>
  <h2>Hier alle Links zu den RC-Network Threads</h2>
  <div class="flex flex-col items-center gap-2">
    {
      links.map((link) => (
        <a
          target="_blank"
          class="py-2 px-4 rounded-md text-shadow shadow-black bg-neutral-600/50 w-full"
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </div>
</Default>
