---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Hr from "../components/Hr.astro";
import Default from "../layouts/Default.astro";
const posts = await getCollection("posts");
const sortedPost = posts.sort((a,b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
const newestPost = sortedPost.at(-1);
---

<!DOCTYPE html>
<Default title="Faszination EDF">
  {
    newestPost && (
      <h1 class="text-center mb-0">Aktuell</h1>
      <Hr />
      <BlogPost post={newestPost} />
    )
  }
</Default>
