---
import Default from "../layouts/Default.astro";
const forumLinks = [
  {
    title: "Starfighter in Sicht-Carbon - RC-Network",
    url: "https://www.rc-network.de/threads/starfighter-in-sicht-carbon.11883880/",
  },
  {
    title: "F19Aurora in Full CFK 163gr Schiebefest - RC-Network",
    url: "https://www.rc-network.de/threads/f19aurora-in-full-cfk-163gr-schiebefest.757231/",
  },
];
const videoLinks = [
  {
    title: "Mein Youtube Channel",
    url: "https://www.youtube.com/@Coliogni/videos",
  },
];
---

<Default>
  <div>
    <h2>Forum</h2>
    <h3>Hier alle Links zu den RC-Network Threads</h3>
    <div class="flex flex-col items-center gap-2">
      {
        forumLinks.map((link) => (
          <a
            target="_blank"
            class="py-2 px-4 rounded-md text-shadow shadow-black bg-neutral-600/50 w-full"
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </div>
  </div>
  <div>
    <h2>Videos</h2>
    <h3>Hier alle Links zu meinen Videos</h3>
    <div class="flex flex-col items-center gap-2">
      {
        videoLinks.map((link) => (
          <a
            target="_blank"
            class="py-2 px-4 rounded-md text-shadow shadow-black bg-neutral-600/50 w-full"
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </div>
  </div>
</Default>
