---
const today = new Date();
---

<footer class="mt-12 flex flex-col items-center">
  <div
    class="h-[1px] bg-gradient-to-r from-transparent via-neonOrange to-transparent w-full"
  >
  </div>
  <div
    class="px-12 py-4 font-futurism text-lg flex flex-col items-center text-center"
  >
    <span>{today.getFullYear()}</span><span>Heiko Gosewisch</span>
  </div>
</footer>
