---
import GalleryArrow from "./GalleryArrow.astro";
import Picture from "./Picture.astro";

interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<input class="peer hidden" type="radio" name="gallery" id="hide" checked />
<label
  for="hide"
  class="inset-0 z-30 flex justify-center items-center backdrop-blur peer-checked:hidden fixed"
>
  <div class="m-1 lg:m-8 flex justify-center">
    {
      images.map((image, index) => (
        <div class="relative my-8">
          <input class="peer hidden" type="radio" name="gallery" id={image} />
          <div class="hidden peer-checked:block group w-full h-full">
            <label class="cursor-pointer" for={images[index - 1]}>
              <GalleryArrow classes="left-0">{"<"}</GalleryArrow>
            </label>

            <Picture
              className="w-full"
              fit={"contain"}
              sizes={{ sm: 640, md: 1024, lg: 2048 }}
              src={image}
            />
            <label class="cursor-pointer" for={images[index + 1]}>
              <GalleryArrow classes="right-0">{">"}</GalleryArrow>
            </label>
          </div>
        </div>
      ))
    }
  </div>
</label>
