---
import GalleryArrow from "./GalleryArrow.astro";

interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<input class="peer hidden" type="radio" name="gallery" id="hide" checked />
<label
  for="hide"
  class="inset-0 z-30 flex justify-center backdrop-blur peer-checked:hidden fixed"
>
  {
    images.map((image, index) => (
      <div class="relative my-auto">
        <input class="peer hidden" type="radio" name="gallery" id={image} />
        <label class="hidden peer-checked:flex overflow-hidden group">
          <label class="cursor-pointer" for={images[index - 1]}>
            <GalleryArrow classes="left-0">{"<"}</GalleryArrow>
          </label>

          <img src={image} class="transition-all object-contain" />
          <label class="cursor-pointer" for={images[index + 1]}>
            <GalleryArrow classes="right-0">{">"}</GalleryArrow>
          </label>
        </label>
      </div>
    ))
  }
</label>
