---
interface Props {
  classes?: string;
}
const { classes = "" } = Astro.props;
---

<div
  class={"duration-200 transition-all px-4 lg:px-8 flex h-full w-auto justify-center group-hover:opacity-100 lg:opacity-0 bg-black/40 text-white/70 cursor-pointer select-none items-center text-xl lg:text-3xl " +
    classes}
>
  <slot />
</div>
