---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const firstPartOfPath = href?.toString().split("/")[1];
const firstPartOfCurrentPath = pathname.split("/")[1];
const isActive =
  href === pathname ||
  (firstPartOfPath && firstPartOfCurrentPath.includes(firstPartOfPath));
---

<a
  href={href}
  class:list={[
    "px-2 text-center hidden peer-checked:block md:block duration-300 border-b-[1px]",
    isActive
      ? " text-white text-shadow shadow-neonGreen border-neonGreen font-extrabold"
      : " text-white/75 border-[#FF5F1F]",
  ]}
  {...props}
>
  <slot />
</a>
<div
  class:list={[
    "px-2 text-center peer-checked:hidden duration-300 border-b-[1px] ",
    isActive
      ? "md:hidden text-white text-shadow shadow-neonGreen border-neonGreen font-extrabold"
      : "hidden",
  ]}
  {...props}
>
  <slot />
</div>
